In [1]:
import pandas as pd
import numpy as np
import os

# TransPop

In [3]:
transpop = pd.read_csv('data/transpop.csv')
transpop

,Unnamed: 0,STUDYID,WEIGHT,SURVEYCOMPLETED,GRESPONDENT_DATE,GCENREG,AGE,RACE,RACE_RECODE,RACE_RECODE_CAT5,...,ACE_SEP,ACE_INC,ACE_EMO_I,ACE_PHY_I,ACE_SEX_I,ACE_IPV_I,ACE_SUB_I,ACE_MEN_I,ACE_SEP_I,ACE_INC_I
0,0,151768927,0.986143,0,26-APR-2016,1,65,6,1,1,...,0,0,1,0,0,0,0,0,0,0
1,1,152357242,0.379683,0,07-APR-2016,3,38,6,1,1,...,0,0,0,0,0,0,0,1,0,0
2,2,152444055,0.705381,0,01-MAY-2016,3,25,6,1,1,...,0,0,0,0,0,0,0,1,0,0
3,3,152525272,1.595398,0,20-APR-2016,4,18,6,1,1,...,1,1,1,0,0,1,1,1,1,1
4,4,152894493,1.870422,0,05-MAY-2016,2,30,8,3,3,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,269,194845794,0.236381,1,03-JAN-2019,4,53,1,4,5,...,0,0,0,0,0,0,1,0,0,0
270,270,194850497,0.236381,1,19-NOV-2018,4,71,6,1,1,...,0,0,0,0,1,0,1,1,0,0
271,271,194873629,0.236381,1,13-NOV-2018,1,72,6,1,1,...,0,0,1,1,0,0,0,0,0,0
272,272,195236979,2.814055,1,18-NOV-2018,1,20,6,1,1,...,0,0,1,0,1,0,0,1,0,0
273,273,196860170,2.354026,1,30-NOV-2018,2,34,6,1,1,...,1,0,1,0,0,0,0,0,1,0

In [4]:
transpop.columns

Index(['Unnamed: 0', 'STUDYID', 'WEIGHT', 'SURVEYCOMPLETED',
       'GRESPONDENT_DATE', 'GCENREG', 'AGE', 'RACE', 'RACE_RECODE',
       'RACE_RECODE_CAT5',
       ...
       'ACE_SEP', 'ACE_INC', 'ACE_EMO_I', 'ACE_PHY_I', 'ACE_SEX_I',
       'ACE_IPV_I', 'ACE_SUB_I', 'ACE_MEN_I', 'ACE_SEP_I', 'ACE_INC_I'],
      dtype='object', length=567)

In [5]:
transpop.describe()

,Unnamed: 0,STUDYID,WEIGHT,SURVEYCOMPLETED,AGE,RACE,RACE_RECODE,RACE_RECODE_CAT5,SEX,GENDER,...,NEGEXPFUTURE_I,ACE_I,ACE_EMO_I,ACE_PHY_I,ACE_SEX_I,ACE_IPV_I,ACE_SUB_I,ACE_MEN_I,ACE_SEP_I,ACE_INC_I
count,274.000000,2.740000e+02,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000
mean,136.500000,1.718596e+08,1.000000,0.813869,39.361314,5.762774,1.937956,1.762774,1.525547,3.299270,...,3.176805,3.208029,0.704380,0.430657,0.401460,0.288321,0.394161,0.496350,0.357664,0.135036
std,79.241193,1.057721e+07,0.864983,0.389925,16.889344,1.689854,1.672822,1.266040,0.500261,1.436647,...,0.915362,2.094072,0.457156,0.496074,0.491091,0.453810,0.489564,0.500902,0.480190,0.342388
min,0.000000,1.517689e+08,0.236381,0.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,68.250000,1.681479e+08,0.317048,1.000000,24.000000,6.000000,1.000000,1.000000,1.000000,2.000000,...,2.666667,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.500000,1.726608e+08,0.645186,1.000000,34.000000,6.000000,1.000000,1.000000,2.000000,4.000000,...,3.222222,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,204.750000,1.765349e+08,1.373568,1.000000,54.000000,6.000000,2.000000,2.000000,2.000000,5.000000,...,3.861111,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,273.000000,1.968602e+08,2.814055,1.000000,72.000000,9.000000,7.000000,5.000000,2.000000,5.000000,...,5.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000